@model Cinema.MVC.ViewModels.Revenues.RevenueUpdateViewModel

@{
    ViewData["Title"] = "Update Revenue";
}

<h2>Update Revenue</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TotalRevenue" class="control-label"></label>
                <input asp-for="TotalRevenue" class="form-control" />
                <span asp-validation-for="TotalRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreeningId">Select Screening:</label>
                <select asp-for="ScreeningId" asp-items="Model.Screenings" class="form-control">
                    <option value="">--Select a Screening--</option>
                </select>
                <span asp-validation-for="ScreeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

