@model Cinema.MVC.ViewModels.Screenings.ScreeningCreateViewModel

@{
    ViewData["Title"] = "Create Screening";
}

<h1>Create Screening</h1>

<h4>Screening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="MovieId">Select a Movie:</label>
                <select asp-for="MovieId" class="form-control" asp-items="Model.Movies"></select>
                <option value="">--Select a Movie--</option>
            </div>
            <div class="form-group">
                <label asp-for="HallId">Select a Hall:</label>
                <select asp-for="HallId" class="form-control" asp-items="Model.Hall"></select>
                <option value="">--Select a Movie--</option>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
